<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A'rosa-je</title>
</head>
<body>

    <h1>Bienvenue amis des fleurs !</h1>

    <p><a href="/donnees">Voir les données</a></p>

</body>
</html>